@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

* {
    font-family: 'Outfit', sans-serif;
}



@media print {
  @page {
    size: A4 portrait;
    margin: 5mm;
  }

  html,
  body {
    margin: 0 !important;
    padding: 0 !important;
    background: white !important;
  }

  * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  body * {
    visibility: hidden !important;
  }

  #resume-preview,
  #resume-preview * {
    visibility: visible !important;
  }

 #resume-preview {
  position: absolute !important;
  top: 0 !important;
  left: 50% !important;

  width: 125% !important;
  height: auto !important;
  min-height: 0 !important;

  margin: 0 !important;
  padding: 0 !important;

  background: white !important;
  border: 0 !important;
  box-shadow: none !important;

  zoom: 0.8;
  transform: translateX(-50%);
  transform-origin: top center;
}

  #resume-preview > * {
    height: auto !important;
    min-height: 0 !important;
  }

  #resume-preview section {
    margin-bottom: 10px !important;
    break-inside: auto !important;
    page-break-inside: auto !important;
  }
}